body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: hsl(56, 100%, 70%);
  width: 100%;
  height: 100px;
  margin-top: 0;
  margin-bottom: 20px;
}

header h1 {
    text-align: center;
    margin-top: 0px;
    padding-top: 25px;
}

.pesquisar {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.pesquisar input, button {
  padding: 6px;
}

.pesquisar input {
  width: 300px;
  margin-right: 10px;
}

.pesquisar button {
  background-color: green;
  color: white;
  border-style: none;
  width: 100px;
}

.top-bar {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}

.top-bar .input-name-group {
  align-items: flex-start;
  display: flex;
}

.top-bar .input-terms-group {
  align-items: flex-start;
  display: flex;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  /* border: 1px solid rgb(7, 7, 7); */
  box-shadow: 10px 10px 30px rgb(219, 219, 219);
  background-color: white;
  /* border-radius: 5px; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: green;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 5px;
  color: white;
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
  margin-right: 50px;
  background-color: rgb(248, 247, 247);
  padding: 20px;
  height: 30%;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
}

.cart__title {
  margin-bottom: 15px;
}

.empty-cart {
  background-color: hsl(41, 100%, 70%);
  border-style: none;
  padding: 10px;
}

.price {
  display: flex;
}

.price > p {
  margin-right: 5px;
}